\# Environment & virtual envs
**/.env
.env.local
.venv/
venv/

# Python cache
**/__pycache__/
*.pyc
discordbot_dev/.env
discordbot_dev/env.example
discordbot_dev/.venv/

# Discord dev artifacts
discordbot_dev/.env
discordbot_dev/.venv/
discordbot_dev/.mypy_cache/

# R / Shiny
.RData
.Ruserdata
.Rproj.user/
analytics_dev/rsconnect/